@import '../../../../assets/css/scss/responsive';

.c-toast {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(var(--toast), 1);
    color: rgba(var(--toast-contrast), 1);
    padding: .5rem .75rem;
    border-radius: .25rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    user-select: none;
    max-width: 20rem;
    animation: toastAnim 2.5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;

    @include mobile {
        max-width: none;
        left: 1rem;
        right: 1rem;
        transform: translate(0%, 0%);
        padding: .8rem 1rem;
        animation: toastMobileAnim 2.5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    }

    &__title {
        font-weight: 600;
        font-size: .8rem;
        opacity: .75;
    }
}

@keyframes toastAnim {
    0% {
        transform: translate(-50%, 150%);
    }
    20% {
        transform: translate(-50%, 0%);
    }
    80% {
        transform: translate(-50%, 0%);
    }
    100% {
        transform: translate(-50%, 150%);
    }
}

@keyframes toastMobileAnim {
    0% {
        transform: translate(0%, 150%);
    }
    20% {
        transform: translate(0%, 0%);
    }
    80% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(0%, 150%);
    }
}