body {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(var(--background), 1);
  color: rgba(var(--background-contrast), 1);
}

.app {
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--background), 1);
  color: rgba(var(--background-contrast), 1);
}

@media screen and (min-width: 1100px) {
  .app {
    left: 200px;
  }
}

.app .app-page {
  background-color: rgba(var(--background), 1);
  color: rgba(var(--background-contrast), 1);
  -webkit-transition: .25s ease;
  transition: .25s ease;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
}

.app .app-page > * {
  display: block;
  height: 100%;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app .app-page.page-in {
  -webkit-animation: fadeIn .25s ease;
          animation: fadeIn .25s ease;
}

.app .app-page.page-in > * {
  -webkit-animation: slideIn .25s ease backwards;
          animation: slideIn .25s ease backwards;
}

@font-face {
  font-family: "Mark";
  src: url("/assets/fnt/Mark-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Mark";
  src: url("/assets/fnt/Mark-Extralight.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mark";
  src: url("/assets/fnt/Mark-Bold.ttf");
  font-weight: 600;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Mark', sans-serif;
  font-weight: 500;
  background-color: rgba(var(--background), 1);
}

* {
  font-family: 'Mark', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
