$animation-transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);

.c-burger {
    height: 1.2rem;
    width: 1.45rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &:hover {
        cursor: pointer;
        opacity: .8;
    }

    &.open {
        span {
            &:first-child {
                transform: rotateZ(45deg) translateX(0px);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                transform: rotateZ(-45deg) translateX(0px);;
            }
        }
    }

    span {
        height: 2px;
        width: 100%;
        display: block;
        background-color: rgba(var(--navbar-contrast), 1);
        position: absolute;
        transform: rotateZ(0deg) translateX(0px);;
        transition: $animation-transition;

        &:first-child {
            top: 0;
            transform-origin: 0 100%;
        }
        &:last-child {
            bottom: 0;
            transform-origin: 0 0%;
        }
    }
}