@import './responsive';

body {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: rgba(var(--background), 1);
    color: rgba(var(--background-contrast), 1);
}

.app {
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--background), 1);
    color: rgba(var(--background-contrast), 1);

    @include desktop {
        left: 200px;
    }
}

.app .app-page {
    background-color: rgba(var(--background), 1);
    color: rgba(var(--background-contrast), 1);
    transition: .25s ease;
    opacity: 1;
    transform: translateX(0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    
    >* {
        display: block;
        height: 100%;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(1.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.app .app-page.page-in {
    animation: fadeIn .25s ease;
    
    >* {
        animation: slideIn .25s ease backwards;
    }
}

.app .app-page.page-out {
}
