@font-face {
    font-family: "Mark";
    src: url("/assets/fnt/Mark-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Mark";
    src: url("/assets/fnt/Mark-Extralight.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Mark";
    src: url("/assets/fnt/Mark-Bold.ttf");
    font-weight: 600;
}