.c-page-quote {
    padding: .75rem .6rem;
    font-size: 1rem;
    border-left: 0.2rem solid rgba(var(--primary), 1);
    display: flex;
    flex-direction: column;
    
    &__name {
        opacity: .6;
        margin-top: .25rem;
    }
}