.c-navbar {
  width: 100%;
  padding: .5rem .75rem;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  background-color: rgba(var(--navbar), var(--navbar-transparency));
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
  border-bottom: 1px solid rgba(var(--navbar-contrast), 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.c-navbar__text {
  color: rgba(var(--navbar-contrast), 1);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1rem;
  white-space: nowrap;
}

.c-navbar__text:hover {
  cursor: pointer;
}

.c-navbar__text img {
  height: 2rem;
  margin: 0 1rem;
}

@media screen and (max-width: 600px) {
  .c-navbar__text img {
    margin: 0 0 0 1rem;
  }
}

@media screen and (max-width: 600px) {
  .c-navbar__text {
    font-size: 1.25rem;
  }
  .c-navbar__text span:last-child {
    display: none;
  }
}

.c-navbar app-hamburger {
  position: relative;
  padding: .5rem;
  display: inline-block;
}

@media screen and (min-width: 1100px) {
  .c-navbar app-hamburger {
    pointer-events: none;
    display: none;
  }
}

.c-sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 90%;
  max-width: 200px;
  z-index: 90;
  background-color: rgba(var(--side-background), 0.9);
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
  border-right: 1px solid rgba(var(--side-background), 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  border-right: 1px solid rgba(var(--navbar-contrast), 0.1);
}

.open .c-sidebar {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (min-width: 1100px) {
  .c-sidebar {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.c-sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.c-sidebar__list:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

.c-sidebar__list__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-sidebar__list__group > span {
  background-color: rgba(var(--side-background), 1);
  color: rgba(var(--side-background-contrast), 0.6);
  text-align: center;
  padding: .3rem;
  font-size: .6rem;
  text-transform: uppercase;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.c-sidebar__list__group > span::before {
  content: '';
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--side-background-contrast), 0.2);
}

.c-sidebar__list__group > button {
  background-color: transparent;
  color: rgba(var(--side-background-contrast), 1);
  border: none;
  border-bottom: 1px solid rgba(var(--side-background-contrast), 0.1);
  padding: 1rem 1.2rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  outline: none;
  margin: 0;
  position: relative;
  border-radius: 0;
}

.c-sidebar__list__group > button.active {
  background-color: rgba(var(--primary), 0.8);
  color: rgba(var(--primary-contrast), 1);
  pointer-events: none;
}

.c-sidebar__list__group > button:hover, .c-sidebar__list__group > button:focus {
  background-color: rgba(var(--primary), 1);
  color: rgba(var(--primary-contrast), 1);
  cursor: pointer;
}

.c-sidebar-shade {
  position: fixed;
  z-index: 80;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.open .c-sidebar-shade {
  pointer-events: all;
  opacity: .5;
}

@media screen and (min-width: 1100px) {
  .c-sidebar-shade {
    pointer-events: none;
    display: none;
  }
}
